<h1>Edit Admin Settings</h1>

<h2>Default Loan Period</h2>
<%= form_with(url: update_loan_period_admin_settings_path, method: :patch, local: true) do %>
  <div class="form-group">
    <%= label_tag :default_loan_period, "Default Loan Period (days)" %>
    <%= number_field_tag :default_loan_period, @default_loan_period, class: "form-control", min: 1 %>
  </div>
  <%= submit_tag "Update Loan Period", class: "btn btn-primary" %>
<% end %>

<h2>Default Book Image</h2>
<%= form_with(url: update_book_image_admin_settings_path, method: :patch, local: true) do %>
  <div class="form-group">
    <%= label_tag :default_book_image, "Default Book Image URL" %>
    <%= text_field_tag :default_book_image, @default_book_image, class: "form-control" %>
  </div>
  <%= submit_tag "Update Book Image", class: "btn btn-primary" %>
<% end %>

<%= link_to 'Back', admin_root_path, class: "btn btn-secondary" %>
