<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>JeJu Book</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag 'bootstrap' %>
  <%= javascript_include_tag 'popper' %>
  <%= javascript_importmap_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container mt-5">
    <%= yield %>
  </div>
</body>
</html>